body, html{
    width: 100%;
    height: 100%;
}

*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    width: 100%;
}

.container-menu{
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(8, 15, 37, 0.3));
    height: 100%;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}
.logo{
    width: 50px;
    height: 50px;
    transition: all 0.5s linear 0s;
}

.logo:hover{
    transform: rotate(360deg);
}

.container label{
    font-size: 25px;
    line-height: 50px;
}

.container select{
    width: 100px;
    text-align: center;
    margin-right: 25px;
    border-radius: 30px;
}

.list-btn{
    width: 100px;
    height: 30px;
    margin: 30px 0;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    border-radius: 10px;
}

.list-btn:hover{
    background-color: rgb(12, 8, 62);
    color: white;
}

canvas{
    width: 100%;
    height: 100%;
    background-color: rgb(11, 11, 125);
    /* display: none; */
    position: relative;
}
.arrow{
    width: 30px;
    height: 30px;
    transform: rotate(-90deg);
    cursor: pointer;
    position: absolute;
    right: 20px;
    /* top: 30px; */
    z-index: 2;
}
